.offers-container{
    display: flex;
    width: 65%;
    height: 65vh;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 140px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
}

.offers-left{
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
}
.offers-left h1{
    font-weight: 800px;
    font-size: 80px;
}
.offers-left p{
    font-weight: 600px;
    font-size: 22px;
}

.offers-left button{
    padding: 10px;
    margin-top: 30px;
    background: red;
    color: white;
    width: 282px;
    height: 70px;
    border-radius: 80px;
    font-size: 22px;
    cursor: pointer;
    border: none;
}
.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    margin-left: 30px;
}

@media (max-width:1280px)
{
    .offers-container{
        padding: 0px 80px;
        margin-bottom: 120px;

    }
    .offers-left h1{
        font-weight: 800px;
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-right img{
        width: 300px;

    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right{
        padding: 30px;

    }

}
@media (max-width:1024px)
{
    .offers-container{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;

    }
    .offers-left h1{
        font-weight: 800px;
        font-size: 30px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
        width: 200px;

    }
    .offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offers-right{
        padding-top: 10px; 
        
    }

}
@media (max-width:800px)
{
    .offers-container{
        margin-bottom: 60px;

    }
    .offers-left h1{
        font-weight: 800px;
        font-size: 22px;
    }
    .offers-left p{
        font-size: 13px;
    }
    .offers-right img{
        width: 180px;

    }
    .offers-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
    .offers-right{
        padding-top: 10px; 
        
    }

}



@media (max-width:800px)
{
    .offers-container{
        height: 25vh;
        margin-bottom: 50px;
        margin-top: 5px;

    }
    .offers-left h1{
        font-weight: 800px;
        font-size: 16px;
    }
    .offers-left p{
        font-size: 10px;
    }
    .offers-right img{
        width: 120px;

    }
    .offers-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
    .offers-right{
        padding-top: 10px; 
        
    }

}



